* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main1 {
  height: 100%;
  width: 100%;
}
.main1 img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.nav {
  position: fixed;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-left: 60%;
  font-size: 18px;
  /* position: absolute; */
  top: 2%;
  font-weight: 800;
}
.logo h1 {
  position: absolute;
  top: 4px;
  left: 8px;
}
.logo span {
  color: #ff9f66;
}
.home-content span {
  color: #ff9f66;
}
.home-content {
  position: absolute;
  top: 300px;
  left: 850px;
}

.home-img img {
  height: 550px;
  width: 550px;
  position: absolute;
  top: 100px;
  opacity: 1;
}
.btn {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #ff9f66;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* main 2  */
.heading {
  position: absolute;
  left: 60px;
  margin-top: 70px;
  color: #ffff;
}
.second-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.first {
  height: 100%;
  width: 25%;
  background: linear-gradient(to bottom left, #ff9f66, #fff);
}
.second {
  height: 100%;
  width: 75%;
}
.second img {
  height: 695px;
  width: 1139px;
  opacity: 0.7;
  z-index: 1;
}
.box1 {
  height: 350px;
  width: 350px;

  position: absolute;
  margin-top: 12%;
  margin-left: 5%;
  border-radius: 35px;
  cursor: pointer;
  z-index: 2;
}
.box1 h1 {
  position: absolute;
  top: 200px;
  left: 5%;
  color: #fff;
  font-weight: 500;
}
.box1 p {
  position: absolute;
  width: 80%;
  top: 250px;
  left: 5%;
  color: #fff;
  font-weight: 500;
}
.box1 img {
  height: 350px;
  width: 350px;
  border-radius: 35px;
  z-index: 2;
  object-fit: cover;
}
.box2 {
  height: 350px;
  width: 350px;

  position: absolute;
  margin-top: 12%;
  margin-left: 38%;
  border-radius: 35px;
  cursor: pointer;
  z-index: 2;
}
.box2 img {
  height: 350px;
  width: 350px;
  border-radius: 35px;
  object-fit: cover;
}
.box2 h1 {
  position: absolute;
  top: 200px;
  left: 5%;
  color: #000;
  font-weight: 500;
}
.box2 p {
  position: absolute;
  width: 80%;
  top: 250px;
  left: 5%;
  color: #000;
  font-weight: 500;
}
.box3 {
  height: 350px;
  width: 350px;

  position: absolute;
  margin-top: 12%;
  margin-left: 73%;
  border-radius: 35px;
  cursor: pointer;
  z-index: 2;
}
.box3 img {
  height: 350px;
  width: 350px;
  border-radius: 35px;
  object-fit: cover;
}
.box3 h1 {
  position: absolute;
  top: 200px;
  left: 5%;
  color: #000;
  font-weight: 500;
}
.box3 p {
  position: absolute;
  width: 80%;
  top: 250px;
  left: 5%;
  color: #000;
  font-weight: 500;
}
.box1:hover {
  transition: 0.6s ease-in;
}
.box2:hover {
  transition: 0.4s ease-in;
}
.box3:hover {
  transition: 0.4s ease-in;
}

/* <!-- main 3 --> */

.third-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #ff9f66;
}
.logo2 {
  position: absolute;
  left: 2%;
  margin-top: 20px;
  z-index: 2;
}
.logo2 span {
  color: #ff9f66;
}

.first-con {
  height: 100%;
  width: 50%;
  transform: skew(-23.5deg);
  position: absolute;
  right: 60%;
  box-shadow: 5px 5px 8px black, 10px 10px 12px grey,
    15px 15px 15px rgb(207, 194, 194);
  cursor: pointer;
}
.first-con img {
  height: 100%;
  width: 100%;
}
.second-con {
  height: 45%;
  width: 650px;
  background-color: rgb(230, 218, 218);
  margin-top: 170px;
  opacity: 0.8;
  position: absolute;
  left: 10%;
  border-radius: 50px;
}
.second-con span {
  font-size: 18px;
}
.second-con h1 {
  margin-left: 85px;
  margin-top: 45px;
}
.second-con p {
  line-height: 1.5;
  margin-left: 65px;
  width: 80%;
  margin-top: 15px;
}
.btn2 {
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #ff7f3e;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.circle {
  height: 120px;
  width: 120px;
  background-color: #ff7f3e;
  position: absolute;
  left: 60%;
  border-radius: 50%;
  top: 80%;
}
.circle h1 {
  position: absolute;
  top: -3;
  right: 32px;
  color: white;
}
.image-con {
  position: absolute;
  left: 100%;
  margin-left: 20%;
}
.image-con img {
  height: 500px;
  width: 500px;
  border-radius: 50px;
}
